<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="./images/favicon_io/site.webmanifest" />
    <title>Mary AI</title>
    <link rel="stylesheet" href="./css/about.css" />
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XTB4P9L41G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-XTB4P9L41G");
    </script>
  </head>

  <body>
    <header>
      <div class="header-logo">MaryAI</div>
      <nav>
        <div class="header-text">
          <p>Enhacing Health Care in Remote Areas of Africa</p>
        </div>
        <ul>
          <li><a href="#">About</a><span>|</span></li>
          <li><a href="#services">Services</a><span>|</span></li>
          <li><a href="#contact-us">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-content">
      <div class="content-wrapper">
        <div class="video-container animate">
          <!-- <video id="my-video" class="video-js  video-player" autoplay controls muted preload="auto" width="640" data-setup="">
                    <source src="https://firebasestorage.googleapis.com/v0/b/sampleproject-c35cd.appspot.com/o/MaryAI.mp4?alt=media&token=238c99d7-cc0d-41cd-8085-a5cf296f9b00" type="video/mp4" />
                    <source src="https://firebasestorage.googleapis.com/v0/b/sampleproject-c35cd.appspot.com/o/MaryAI.mp4?alt=media&token=238c99d7-cc0d-41cd-8085-a5cf296f9b00" type="video/webm" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video> -->
          <video
            class="video"
            src="https://firebasestorage.googleapis.com/v0/b/sampleproject-c35cd.appspot.com/o/MaryAI.mp4?alt=media&token=238c99d7-cc0d-41cd-8085-a5cf296f9b00"
            autoplay="true"
            controls
          ></video>
        </div>
        <div class="header-container">
          <div class="grid-header ghc-1"></div>
          <div class="grid-header ghc-2">
            <h1>Empowering Health</h1>
          </div>
        </div>
        <div class="grid">
          <div class="grid-item">
            <img
              class="grid-item-image"
              src="./images/MicrosoftTeams-image (4).png"
              alt=""
            />
          </div>
          <div class="grid-item">
            <p>
              We are leveraging AI and structural engineering to bring hospitals
              to underserved communities and to people's homes. Our small,
              movable clinics are equipped with AI-powered MaryAI software that
              can diagnose diseases several weeks before patients experience any
              noticeable symptoms. We're committed to making healthcare
              accessible to all and collaborating with like-minded partners.
              Join us in building a healthier, more equitable world.
            </p>
          </div>
          <div class="grid-item">
            <img
              class="grid-item-image"
              src="./images/MicrosoftTeams-image (3).png"
              alt=""
            />
          </div>
          <div class="grid-item">
            <img
              class="grid-item-image product-image"
              src="./images/MicrosoftTeams-image (1).png"
              alt=""
            />
          </div>
        </div>
        <div class="no-motion-video video">
          <video
            class="video-js video"
            loop
            autoplay
            muted
            controls
            preload="auto"
            width="640"
            data-setup="{}"
          >
            <source
              src="https://firebasestorage.googleapis.com/v0/b/sampleproject-c35cd.appspot.com/o/file.mp4?alt=media&token=e468fdd2-b7cc-4739-b0fb-0f8e0efda968"
              type="video/mp4"
            />
            <source
              src="https://firebasestorage.googleapis.com/v0/b/sampleproject-c35cd.appspot.com/o/file.mp4?alt=media&token=e468fdd2-b7cc-4739-b0fb-0f8e0efda968"
              type="video/webm"
            />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider
              upgrading to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
        <h1 class="service-heading">Our Services</h1>
        <div class="service-container">
          <div class="service animate">
            <div class="services-image">
              <img src="./images/service_image_1.png" alt="Image 1" />
            </div>
            <div class="service-card">
              <div class="card-heading">AI-Powered Diagonostics</div>
              <p>
                Our software utilizes artificial intelligence algorithms to
                analyze medical data and images (such as X-rays, CT scans, and
                MRIs), aiding in the early detection and diagnosis of various
                conditions and diseases.​
              </p>
            </div>
          </div>
          <div class="service animate">
            <div class="services-image">
              <img src="./images/service_image_2.png" alt="Image 1" />
            </div>
            <div class="service-card">
              <div class="card-heading">Symptom Assessment</div>
              <p>
                Our platform allows users to input their symptoms and receive a
                preliminary assessment of potential health issues, providing
                guidance on the next steps to take for medical care.
              </p>
            </div>
          </div>
          <div class="service animate">
            <div class="services-image">
              <img src="./images/service_image_3.png" alt="Image 1" />
            </div>
            <div class="service-card">
              <div class="card-heading">Telemedicine Solutions</div>
              <p>
                Our technology enables remote consultations and virtual
                healthcare services, connecting patients with healthcare
                providers for timely medical advice and guidance, particularly
                useful in areas with limited access to healthcare facilities.
              </p>
            </div>
          </div>
          <div class="service animate">
            <div class="services-image">
              <img src="./images/service_image_4.png" alt="Image 1" />
            </div>
            <div class="service-card">
              <div class="card-heading">Data Analytics and Insights</div>
              <p>
                We gather and analyze healthcare data to generate valuable
                insights and statistics, aiding in healthcare planning,
                policy-making, and resource allocation to improve healthcare
                delivery in underserved regions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="contact-us">
      <div class="address-section">
        <h1>Contact Us</h1>
        <div class="left-side">
          <img class="img1" src="./images/footer_image_2.png" alt="" />
          <img class="img2" src="./images/footer_image_1.png" alt="" />
        </div>
        <div class="right-side">
          <h1>Contact Us</h1>
          <p>
            N1 Highway <br />
            Dzorwulu- Accra, Ghana <br />
            +233 (50) 067 - 1322
          </p>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright @ MaryAI 2023</p>
      </div>
    </footer>
  </body>

  <script src="./js/app.js"></script>
  <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
</html>
